@import 'tailwindcss';

@theme {
    --color-primary: hsl(221.2 83.2% 53.3%);
    --color-primary-foreground: hsl(222.2 47.4% 11.2%);
    --color-secondary: hsl(0 0% 96.1%);
    --color-secondary-foreground: hsl(222.2 47.4% 11.2%);
}
